<div class="page-header">
  <%= link_to new_reg_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Reg
  <% end %>
  <h1>Listing Event Registrations</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Alumnus</th>
            <th>Event</th>
            <th>Guests</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @regs) do |reg| %>
            <td><%= link_to reg.alumnus.name, reg.alumnus %></td>
            <td><%= link_to reg.event.name, reg.event %></td>
            <td><%= reg.guests %></td>
        <td><%= link_to 'Edit', edit_reg_path(reg) %></td>
        <td><%= link_to 'Deregister', reg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
