<p id="notice"><%= notice %></p>

<li>
<%= link_to('Logout', destroy_alumnus_session_path, method: :delete) %>
</li>

<%= if @event.Eventpic.thumb.url
   image_tag @event.Eventpic.thumb.url;
 end %>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>


<% @is_true=0 %>
  <% @a.each do |reg| %>
    <% if reg==@event.id %>
      <% @is_true=1 %>
    <% end %>
  <% end %>
  <% if @is_true==1 %>
  <p><h2> Already Registered</h2></p>

<% else %>

  <%= link_to "Register for this event", new_reg_path(event_id: @event.id) , class: "btn btn-primary btn-large"%>
<% end %>

<br>
<br>
<%= link_to 'Back', events_path %>
