<p id="notice"><%= notice %></p>

<h1>Alumni</h1>

<table>
  <thead>
    <tr>
      <th>Roll no</th>
      <th>Name</th>
      <th>Grad year</th>
      <th>Personal mail</th>
      <th>College mail</th>
      <th>Phone no</th>
      <th>Company name</th>
      <th>Designation</th>
      <th>Location</th>
      <th>Linkedin</th>
      <th>Facebook</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% #@alumni.each do |alumnus| %>
      <tr>
        <td><%= @alumni.roll_no %></td>
        <td><%= @alumni.name %></td>
        <td><%= @alumni.grad_year %></td>
        <td><%= @alumni.personal_mail %></td>
        <td><%= @alumni.college_mail %></td>
        <td><%= @alumni.phone_no %></td>
        <td><%= @alumni.company_name %></td>
        <td><%= @alumni.designation %></td>
        <td><%= @alumni.location %></td>
        <td><%= @alumni.linkedIn %></td>
        <td><%= @alumni.facebook %></td>
        <td><%= link_to 'Edit', edit_alumnus_path(@alumni) %></td>
        <td><%= link_to 'Destroy', @alumni, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% #end %>
  </tbody>
</table>

<br>
