<p id="notice"><%= notice %></p>

<p>
  <strong>Roll no:</strong>
  <%= @alumnus.roll_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @alumnus.name %>
</p>

<p>
  <strong>Grad year:</strong>
  <%= @alumnus.grad_year %>
</p>

<p>
  <strong>Personal mail:</strong>
  <%= @alumnus.personal_mail %>
</p>

<p>
  <strong>College mail:</strong>
  <%= @alumnus.college_mail %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @alumnus.phone_no %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @alumnus.company_name %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @alumnus.designation %>
</p>

<p>
  <strong>Location:</strong>
  <%= @alumnus.location %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @alumnus.linkedIn %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @alumnus.facebook %>
</p>
<%if current_alumnus==@alumnus%>
    <%= link_to 'Edit', edit_alumnus_path(@alumnus) %> |
<%end%>
<%= link_to 'Back', alumni_path %>
